.choose-action-container {
    .chat-info-container {
        height: 60px;
        padding: 5px;
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
            background-color: #eeeeee;
        }

        .name-chat-info {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .name-info {
                font-style: inherit;
                font-weight: 600;
                font-size: 18px;
                line-height: 16.94px;
                color: gray;
            }


        }

        &.active {
            background-color: #e5efff;
        }
    }
}