.groupName{
    font-weight: bold;
    font-size: 1.2rem;
}
.moreInfoButton {
    width: 45px; // Kích thước của IconButton để tạo hình vuông
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s; // Hiệu ứng chuyển màu nền mượt mà
    font-size: 1;
    &:hover {
        background-color: #f0f0f0; 
        cursor: pointer;
    }
}