.list-send-invitation-container {
    width: 100%;
    height: 100%;

    .list-send-invitation-title {
        margin: 5px;
        font-size: 17px;
        font-weight: 600;
        height: 5%;
    }

    .list-send-invitation-body {
        width: 100%;
        height: 95%;
    }
}